.body {
	background: #ccc;
}
.wrapper{
	width: 900px;
	margin: 0 auto;
	background: #fff;
}
h1 {
	text-align: center;
}
img {
	width: 300px;
	margin: 0 auto;
	displayblock: center;
	
}
.box {
    border-bottom: 1px solid #000;
	padding: 30px;
	width: 900px 
}
